@model IEnumerable<u20691302_HW04.Models.MarineAnimals>

@{
    ViewBag.Title = "Animals";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ScientificName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Habitat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Population)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ScientificName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Habitat)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Population)
    </td>
    <td>
        @Html.ActionLink("Update", "Update", new { id = item.ID }) |

        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
    }

</table>