@model u20691302_HW04.Models.Primates

@{
    ViewBag.Title = "Details";
}

<h1 class="card-title">WWF Endangered Animals Tracker</h1>
<h4 class="card-subtitle mb-2 text-muted">Taberer Applications</h4>
<div class="container" style="background-color: #292b2c; color: white; padding: 25px ">
    <!--Bootstrap Card-->
    <div class="card">
        <div class="card-body">
            <h2>Primate Details</h2>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ScientificName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ScientificName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Habitat)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Habitat)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Population)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Population)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Back to Primates", "Primates")
        </p>

    </div>
</div>
